<!--
! esercizio  
* PADRE
crea un component PIZZERIA: all'interno di questa pizzeria devo vedere una lista di pizze, al click su ogni singola pizza
mostro gli ingredienti (integra tutto -> LISTA PIZZE + PIZZA), ha un array di pizze che vive QUI NEL PARENT

* FIGLI
crea un component LISTA PIZZE: contiene l'elenco di pizze singoole, al click di una pizza nella lista, mostra le informazioni di quella pizza

crea un component PIZZA, il nome della pizza, prezzo, disponibilità -->


<app-pizzeria></app-pizzeria>
<router-outlet />